<div fxLayout.gt-md="row" fxLayout.lt-lg="column">
    <div class="card" fxFlex>
        <h1>Tank Form Field</h1>
        <form fxLayout="column" [formGroup]="tankForm" (ngSubmit)="createNew()" class="big-font" autocomplete="off">
          <!----- TANK NAME -->
            <mat-form-field fxFlex class="input-text" appearance="fill">
                <mat-label>Storage Tank Name:</mat-label>
                <input matInput formControlName="name" placeholder="Name" type="text" maxlength="200">
                <button *ngIf="tankForm.get('name')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="tankForm.get('name')?.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint [align]="'end'">{{tankForm.get('name')?.value?.length}} / 200</mat-hint>
                <mat-error *ngIf="tankForm.get('name')?.hasError('required')">The name has to be inserted</mat-error>
            </mat-form-field>

          <!----- DESCRIPTION -->
            <mat-form-field fxFlex class="input-text" appearance="fill">
                <mat-label>Description:</mat-label>
                <textarea matInput formControlName="description" placeholder="Ex. This Tank is special because..." type="text"></textarea>
                <button *ngIf="tankForm.get('description')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="tankForm.get('description')?.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

          <!----- HEIGHT -->

            <!-- NORMAL and when only Volume or Diameter is set -->
            <ng-container *ngIf="!firstValue ||
                                  firstValue === 'height' ||
                                  firstValue === 'diameter' && !secondValue ||
                                  firstValue === 'volume' && !secondValue ||
                                  firstValue === 'diameter' && secondValue == 'height' ||
                                  firstValue === 'volume' && secondValue == 'height'  ">
              <mat-form-field fxFlex class="input-number" appearance="fill">
                <mat-label>Height:</mat-label>
                <input matInput formControlName="height" placeholder="Height" type="number">
                <span matSuffix>mm</span>
                <mat-error *ngIf="tankForm.get('height')?.hasError('required')">Die Id muss eingegeben werden</mat-error>
              </mat-form-field>
            </ng-container>

            <!-- If DIAMETER and VOLUME are set -->
            <ng-container *ngIf="firstValue === 'diameter' && secondValue === 'volume' ||
                                 firstValue === 'volume' && secondValue === 'diameter' ">
              <mat-form-field fxFlex class="input-number" appearance="fill">
                <mat-label>Height:</mat-label>
                <input matInput readonly formControlName="height" placeholder="Height" type="number">
                <span matSuffix>mm</span>
                <mat-hint>Automatic Calculation due to given <strong>diameter</strong> and <strong>volume</strong>{{setTankHeight(tankForm.get('diameter')?.value, tankForm.get('volume')?.value)}}</mat-hint>
                <mat-error *ngIf="tankForm.get('height')?.hasError('required')">Die Id muss eingegeben werden</mat-error>
              </mat-form-field>
            </ng-container>

          <!----- DIAMETER -->

            <!-- NORMAL and when only HEIGHT is or VOLUME is set -->
            <ng-container *ngIf="!firstValue ||
                                  firstValue === 'diameter' ||
                                  firstValue === 'height' && !secondValue ||
                                  firstValue === 'volume' && !secondValue ||
                                  firstValue === 'height' && secondValue == 'diameter' ||
                                  firstValue === 'volume' && secondValue == 'diameter'  ">
                <mat-form-field fxFlex class="input-number" appearance="fill">
                    <mat-label>Diameter:</mat-label>
                    <mat-select formControlName="diameter" placeholder="Diameter">
                        <mat-option value="">-- None --</mat-option>
                        <mat-option *ngFor="let bott1 of bottoms" value="{{ bott1.bdiameter }}">{{ bott1.bdiameter }}mm, {{ bott1.bname }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tankForm.get('diameter')?.hasError('required')">Die Id muss eingegeben werden</mat-error>
                </mat-form-field>
            </ng-container>

            <!-- If HEIGHT and VOLUME are set -->
            <ng-container *ngIf="firstValue === 'height' && secondValue === 'volume' ||
                                 firstValue === 'volume' && secondValue === 'height' ">
              <mat-form-field fxFlex class="input-number" appearance="fill">
                  <mat-label>Diameter:</mat-label>
                  <input matInput readonly formControlName="diameter" placeholder="Diameter">
                  <span matSuffix>mm</span>
                  <mat-hint>Automatic Calculation due to given <strong>height</strong> and <strong>volume</strong>{{setTankDiameter()}}</mat-hint>
                  <mat-error *ngIf="tankForm.get('diameter')?.hasError('required')">Die Id muss eingegeben werden</mat-error>
              </mat-form-field>
          </ng-container>


          <!----- VOLUME -->

            <!-- NORMAL -->
            <ng-container *ngIf="firstValue === 'volume' || !firstValue ">
                <mat-form-field fxFlex class="input-number" appearance="fill">
                    <mat-label>Volume:</mat-label>
                    <input matInput formControlName="volume" placeholder="Volume" type="number">
                    <span matSuffix>L</span>
                    <mat-error *ngIf="tankForm.get('volume')?.hasError('required')">The Volume has to be inserted</mat-error>
                </mat-form-field>
            </ng-container>

            <!-- When ONLY diameter is set -->
            <ng-container *ngIf="firstValue === 'diameter' ">
              <mat-form-field fxFlex class="input-number" appearance="fill">
                  <mat-label>Volume:</mat-label>
                  <input matInput formControlName="volume" placeholder="Volume" type="number">
                  <span matSuffix>L</span>
                  <mat-error *ngIf="tankForm.get('volume')?.hasError('required')">The volume has to be inserted</mat-error>
              </mat-form-field>
            </ng-container>

            <!-- When ONLY height is set -->
            <ng-container *ngIf="firstValue === 'height' && !secondValue || firstValue === 'height' && secondValue === 'volume' ">
                <mat-form-field fxFlex class="input-number" appearance="fill">
                    <mat-label>Volume:</mat-label>
                    <mat-select formControlName="volume" placeholder="Volume">
                        <mat-option value="">-- None --</mat-option>
                        <mat-option *ngFor="let bott2 of bottoms" value="{{ getTankVolume(bott2.bdiameter, tankForm.get('height')?.value) }}" (onSelectionChange)="setDiameterCache(bott2.bdiameter)" >{{ getTankVolume(bott2.bdiameter, tankForm.get('height')?.value) }}L</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tankForm.get('volume')?.hasError('required')">The Volume has to be inserted</mat-error>
                </mat-form-field>
            </ng-container>

            <!-- When BOTH are set -->
            <ng-container *ngIf="firstValue === 'height' && secondValue === 'diameter' || firstValue === 'diameter' && secondValue === 'height'">
              <mat-form-field fxFlex class="input-number" appearance="fill">
                  <mat-label>Volume:</mat-label>
                  <input matInput readonly formControlName="volume" placeholder="Volume" type="number">
                  <span matSuffix>L</span>
                  <mat-hint>Automatic Calculation due to given <strong>height</strong> and <strong>diameter</strong>{{setTankVolume(tankForm.get('diameter')?.value, tankForm.get('height')?.value)}}</mat-hint>
                  <mat-error *ngIf="tankForm.get('volume')?.hasError('required')">The volume has to be inserted</mat-error>
              </mat-form-field>
            </ng-container>


          <!----- INSULATION -->
            <mat-form-field fxFlex class="input-number" appearance="fill">
                <span matPrefix>Insulation:</span>
                <input matInput formControlName="insulation" [hidden]="true">
                <mat-checkbox class="checkbox-insulation" formControlName="insulation"></mat-checkbox>
            </mat-form-field>

          <!-- CREATE BUTTON -->
            <button fxFlex mat-raised-button [disabled]="!tankForm.valid" class="maraniGreenButton button-right" type="submit">Create</button>
        </form>

        <!-- FORM FIELD LOGIC -->
        <app-tank-logic
        [height]="tankForm.get('height')?.value"
        [diameter]="tankForm.get('diameter')?.value"
        [volume]="tankForm.get('volume')?.value"
        [firstValue]="getFirstValue()"
        [secondValue]="getSecondValue()"
        [thirdValue]="getThirdValue()"
        (newFirstValue)="setFirstValue($event)"
        (newSecondEvent)="setSecondValue($event)"
        (newThirdEvent)="setThirdValue($event)">
        </app-tank-logic>
    </div>
    <div class="card" fxFlex>
        <h1>Tank Info</h1>
        <table>
            <tr>
                <td class="info-title">Tank:</td>
            </tr>
            <tr>
                <td class="info-left">Storage Tank Name:</td>
                <td class="info-right">{{displayTank.tname}}</td>
            </tr>
            <tr>
                <td class="info-left">Height:</td>
                <td class="info-right">{{displayTank.theight}}mm</td>
            </tr>
            <tr>
                <td class="info-left">Diameter:</td>
                <td class="info-right">{{displayTank.tdiameter}}mm</td>
            </tr>
            <tr>
                <td class="info-left">Volume:</td>
                <td class="info-right">{{displayTank.tvolume}}L</td>
            </tr>
            <tr>
                <td class="info-left">Insulation</td>
                <td class="info-right">{{displayTank.tinsulation}}</td>
            </tr>
            <tr>
                <br>
            </tr>
            <tr>
                <td class="info-title">Extra:</td>
            </tr>
            <tr>
                <td class="info-left">Creation date:</td>
                <td class="info-right">{{displayTank.tcreated}}</td>
            </tr>
            <tr>
                <td class="info-left">Description:</td>
                <td class="info-right">{{displayTank.tdescription}}</td>
            </tr>
        </table>
        <br>
        <h3>DEBUG INFO:</h3>
        <p>FirstValue: {{getFirstValue()}}</p>
        <p>SeondValue: {{getSecondValue()}}</p>
        <p>ThirdValue: {{getThirdValue()}}</p>
        <p>diameterCache: {{getDiameterCache()}}</p>
    </div>
</div>
<div class="card">
    <h1>???</h1>
</div>
