<!-- <h1 class="maraniGrayCol title">Config Page</h1>
<section id="team" class="team-section">
  <div class="team-content" fxLayout.gt-sm="row">
      <div fxFlex class="team-card">
          <img class="profile_img" src="assets/profile_photo_max1.jpg" alt="Maximilian Ebenkofler">
          <div class="team-container">
              <h2>Maximilian Ebenkofler</h2>
              <p class="title_team">CEO of Flathill GmbH</p>
              <p>I'm a computer specialist from Südtirol.<br>My Job is making your Website.</p>
              <p></p>
              <p>maximilian@ebenkofler.com</p>
              <button mat-raised-button class="button" onclick="document.location =  'mailto:maximilian@ebenkofler.com'">Contact </button>
          </div>
      </div>
      <div fxFlex class="team-card">
          <img class="profile_img" src="assets/IMG_20220706_155426.jpg" alt="Maximilian Ebenkofler">
          <div class="team-container">
              <h2>Samuel Pircher</h2>
              <p class="title_team">schlechter Mitarbeiter</p>
              <p>Isch an extremer pfuscher,<br>(er tuat nichts onders als pfuschen)</p>
              <p>samuelpircher@gmail.com</p>
              <button mat-raised-button class="button" onclick="document.location =  'mailto:maximilianebenkofler@gmail.com'">Contact </button>
          </div>
      </div>
  </div>
</section> -->
<app-list-bottoms></app-list-bottoms>
